@charset "UTF-8";
@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
  body,
  html {
    height: 100%;
    min-height: 100%;
  }
}

@media screen and (min-width: 1180px) {
  body {
    width: 100%;
  }
}

body {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    letter-spacing: 1.3px;
  }
}

html {
  scroll-behavior: smooth;
}

/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::after,
::before {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
address,
blockquote,
dl,
figure,
form,
iframe,
p,
pre,
table {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
embed,
iframe,
img,
object {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  appearance: checkbox;
}

[type="radio"] {
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
[type="button"],
[type="reset"],
[type="submit"],
button {
  cursor: pointer;
  appearance: none;
}

[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled],
button[disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@keyframes scale {
  to {
    transform: scale(1.1);
  }
}

.page-btn {
  margin: 120px auto 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 3.1px;
  width: 60%;
  max-width: calc(1180px *0.8);
}

@media screen and (max-width: 767px) {
  .page-btn {
    flex-direction: column;
    align-items: center;
  }
}

.page-btn__link {
  margin-top: 30px;
}

.page-btn__link:nth-of-type(0) {
  margin: 0;
}

@media screen and (max-width: 767px) {
  header {
    background-color: #fff;
    height: 68px;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
  }
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  left: 0;
  width: 80%;
  height: 100px;
  margin: 0 0 0 100px;
}

@media screen and (max-width: 1366px) {
  .header {
    margin: 0 0 0 10%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 68px;
    margin: 0 0 0 5%;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  width: 100%;
}

.header__logo a {
  position: relative;
  top: -3px;
  display: block;
}

.header__img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__img {
    top: 0;
    width: 80%;
  }
}

.header__nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1179px) {
  .header__nav {
    display: none;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__item {
  margin: 0 20px 0 19px;
  position: relative;
}

.header__item:before {
  top: 50%;
  font-size: 13px;
  content: '|';
  transform: rotate(25deg) translateY(-50%);
  position: absolute;
  right: -20px;
}

.header__item:nth-of-type(6):before {
  display: none;
}

/* humberger.simple1================================================ */
.sub-header #sub-navi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease-out 0.4s;
  overflow-y: auto;
  padding-top: 40px;
  width: 100%;
  height: 100vh;
  z-index: 200;
  top: 0;
  right: -100vw;
  background-color: #fff;
  position: fixed;
}

.sub-header .nav_btn {
  width: 44px;
  height: 60px;
  z-index: 300;
  top: 29px;
  top: 50px;
  right: 50px;
  transform: translate(50%, -50%);
  cursor: pointer;
  position: fixed;
}

@media screen and (max-width: 1179px) {
  .sub-header .nav_btn {
    right: 5%;
    transform: translate(50%, -50%);
  }
}

@media screen and (max-width: 767px) {
  .sub-header .nav_btn {
    top: 34px;
    transform: translate(0%, -50%);
  }
}

.sub-header .hamburger_line {
  transition: all 0.6s;
  width: 34px;
  height: 2px;
  left: 5px;
  background-color: #000;
  position: relative;
}

.sub-header .hamburger_line1 {
  position: absolute;
  top: 20px;
}

.sub-header .hamburger_line2 {
  position: absolute;
  top: 30px;
}

.sub-header .hamburger_line3 {
  position: absolute;
  top: 40px;
}

.sub-header .nav_bg {
  opacity: 0;
  transition: all 0.6s;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: #000;
  cursor: pointer;
  position: fixed;
}

/* 表示された時用のCSS */
.nav_open #sub-header #sub-navi {
  right: 0;
}

.nav_open .nav_bg {
  opacity: 0.8;
  visibility: visible;
}

.nav_open .hamburger_line1 {
  transform: rotate(45deg);
  top: 20px;
}

.nav_open .hamburger_line2 {
  width: 0;
  left: 50%;
}

.nav_open .hamburger_line3 {
  transform: rotate(-45deg);
  top: 20px;
}

.nav-link {
  padding: 20px 0;
  margin: 20px 0;
  display: block;
}

.footer {
  background-color: #8E8E8E;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.contact {
  writing-mode: vertical-rl;
  right: 0;
  top: 0;
  position: fixed;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

@media screen and (max-width: 1179px) {
  .contact {
    width: 10%;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

.contact__fav {
  position: relative;
  right: 1.2px;
  font-size: 17px;
  margin: 7px 0;
  transform: rotate(90deg);
}

.contact__slush {
  position: relative;
  top: 2px;
  font-size: 13px;
  transform: rotate(30deg);
  margin: 10px 0 9px 0;
}

.sub-title {
  writing-mode: vertical-rl;
  top: 0;
  left: 0;
  position: fixed;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  font-size: 16px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .sub-title {
    width: 10%;
  }
}

@media screen and (max-width: 767px) {
  .sub-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sub-title {
    display: none;
  }
}

.border {
  display: block;
  border-bottom: 1px solid #707070;
  margin: 70px auto;
  width: 60px;
}

.amenity {
  width: 80%;
  max-width: 1366px;
  margin: 174px auto 0 auto;
}

@media screen and (max-width: 767px) {
  .amenity {
    width: 100%;
    margin: 124px auto 0 auto;
  }
}

.amenity__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .amenity__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.amenity__subtitle {
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .amenity__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.amenity-frame {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .amenity-frame {
    flex-direction: column;
  }
}

.amenity-frame__text {
  line-height: 2;
  width: calc(50% - 46px);
  margin-right: 46px;
}

@media screen and (max-width: 767px) {
  .amenity-frame__text {
    width: 100%;
    margin: 0;
  }
}

.amenity-frame__text:nth-child(2) {
  margin: 0;
}

.amenity-box {
  box-sizing: border-box;
  padding: 50px;
  margin: 50px auto 0;
  background-color: #f5f5f5;
}

@media screen and (max-width: 767px) {
  .amenity-box {
    padding: 10%;
    margin: 40px auto 0;
  }
}

.amenity-content:nth-of-type(2) {
  margin-top: 47px;
}

.amenity-content__title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .amenity-content__title {
    font-size: 16px;
  }
}

.amenity-content__box {
  display: flex;
  flex-wrap: wrap;
}

.amenity-content__icon {
  text-align: center;
  width: 20%;
  margin: 20px 0;
  font-size: 32px;
}

@media screen and (max-width: 767px) {
  .amenity-content__icon {
    width: 50%;
    font-size: 20px;
  }
}

.amenity-content__des {
  margin-top: 10px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .amenity-content__des {
    font-size: 11px;
  }
}

.price {
  width: 65%;
  max-width: 747px;
  margin: 174px auto 0 auto;
}

@media screen and (max-width: 767px) {
  .price {
    width: 80%;
    margin: 124px auto 0 auto;
  }
}

.price__title {
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .price__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.price__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .price__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.price-box {
  margin: 50px 0 0;
}

@media screen and (max-width: 767px) {
  .price-box {
    margin: 30px  0 0 0;
  }
}

.price-box__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .price-box__title {
    font-size: 20px;
  }
}

.price-box__subtitle {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .price-box__subtitle {
    font-size: 13px;
  }
}

.price-content {
  margin-top: 50px;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .price-content {
    margin-top: 40px;
  }
}

.price-box2 {
  margin: 72px 0 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .price-box2 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .price-box2 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.price-box2__btn {
  transition: all 0.2s;
  display: block;
  z-index: 0;
  position: relative;
  text-align: center;
  letter-spacing: 2.2px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 56px;
  color: #fff;
  background-color: black;
  border: 2px solid black;
}

.price-box2__btn:hover {
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .price-box2__btn {
    height: 43px;
    width: 100%;
    font-size: 16px;
  }
}

.price-box2__btn:hover {
  background-color: #fff;
  color: black;
}

.price-box2__btn:before {
  height: 0;
  display: block;
  position: absolute;
  left: -3px;
  content: "";
  border-top: solid 21px #fff;
  border-right: solid 21px transparent;
  top: -3px;
  z-index: 2;
}

.price-box2__btn:after {
  height: 0;
  display: block;
  position: absolute;
  left: -2px;
  content: "";
  border-top: solid 21px black;
  border-right: solid 21px transparent;
  top: -2px;
}

@media screen and (max-width: 767px) {
  .price-box2__btn {
    margin-top: 50px;
    width: 100%;
  }
}

.price-box2__price {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 41px;
  font-weight: 900;
}

.price-box2__price span {
  font-size: 16px;
  position: relative;
  left: -5px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 107px 0 40px 0;
  position: relative;
  font-size: 28px;
  font-weight: bold;
}

.pagination span, .pagination a {
  display: block;
  width: auto;
  margin: 0  16px;
  padding: 0 8px;
  text-decoration: none;
  text-align: center;
  line-height: 16px;
}

/* ページ番号 */
.pagination .pager {
  width: 26px;
}

/* ホバー時 & 現在のページ */
.pagination .current {
  position: relative;
}

.pagination .current::before {
  position: absolute;
  content: '';
  border-bottom: 4px solid black;
  width: 20px;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -50%);
}

/* 前へ */
/* 次へ */
/* 最初へ */
/* 最後へ */
/* Page x / y */
.pagination span.page_num {
  display: none;
}

.reservation {
  max-width: 1336px;
  width: 80%;
  height: auto;
  display: block;
  margin: 174px auto 0 auto;
}

.about {
  max-width: 1366px;
  width: 80%;
  margin: 0 auto;
  margin-top: calc(10vh + 80px);
}

@media screen and (max-width: 1179px) {
  .about {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .about {
    margin-top: calc(10vh + 70px);
  }
}

.about__title {
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .about__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.about__subtitle {
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .about__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.about-box {
  max-width: 1366px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .about-box {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1179px) {
  .about-box {
    flex-direction: column;
  }
}

.about-box__img {
  object-fit: cover;
  width: 65%;
  max-height: 510px;
}

@media screen and (max-width: 1179px) {
  .about-box__img {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .about-box__img {
    width: 100%;
  }
}

.about-box__content {
  margin-left: 60px;
  width: 35%;
}

@media screen and (max-width: 1179px) {
  .about-box__content {
    margin: 50px 0 0 0;
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .about-box__content {
    margin: 21px 0 0 0;
  }
}

.about-box__txt {
  line-height: 2;
}

.about-box__btn {
  margin: 50px 0 0 0;
  transition: all 0.2s;
  display: block;
  z-index: 0;
  position: relative;
  text-align: center;
  letter-spacing: 2.2px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 56px;
  color: #fff;
  background-color: black;
  border: 2px solid black;
}

.about-box__btn:hover {
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .about-box__btn {
    height: 43px;
    width: 100%;
    font-size: 16px;
  }
}

.about-box__btn:hover {
  background-color: #fff;
  color: black;
}

.about-box__btn:before {
  height: 0;
  display: block;
  position: absolute;
  left: -3px;
  content: "";
  border-top: solid 21px #fff;
  border-right: solid 21px transparent;
  top: -3px;
  z-index: 2;
}

.about-box__btn:after {
  height: 0;
  display: block;
  position: absolute;
  left: -2px;
  content: "";
  border-top: solid 21px black;
  border-right: solid 21px transparent;
  top: -2px;
}

@media screen and (max-width: 1179px) {
  .about-box__btn {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .about-box__btn {
    margin: 40px auto 0 auto;
  }
}

.about-box__title {
  font-weight: 900;
  line-height: 2;
  font-size: 24px;
}

.about-box__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
}

.mv {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: calc(100% - 200px);
  height: 66vw;
  overflow: hidden;
}

@media screen and (max-width: 1179px) {
  .mv {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .mv {
    width: 100%;
    top: 68px;
    height: 397px;
  }
}

.mv__back-img {
  animation: show 18s infinite, scale 9s infinite;
  /* 12秒のスライドショーを繰り返し */
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  opacity: 0;
}

.mv__back-img:nth-child(1) {
  animation-delay: 0s;
}

.mv__back-img:nth-child(2) {
  animation-delay: 6s;
}

.mv__back-img:nth-child(3) {
  animation-delay: 12s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes scale {
  100% {
    transform: scale(1.2);
  }
}

.mv-title {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mv-title__logo-img {
  max-width: 372px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .mv-title__logo-img {
    width: 80%;
  }
}

.mv-title__caption {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 20px;
  color: white;
  letter-spacing: 4.1px;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .mv-title__caption {
    font-size: 8px;
    letter-spacing: 2.34px;
  }
}

.news {
  margin: 174px auto 0;
  max-width: 1366px;
  width: 80%;
}

@media screen and (max-width: 767px) {
  .news {
    margin: 124px auto 0;
  }
}

.news__title {
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .news__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.news__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .news__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.news__btn {
  margin-top: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s;
  display: block;
  z-index: 0;
  position: relative;
  text-align: center;
  letter-spacing: 2.2px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 56px;
  color: #fff;
  background-color: black;
  border: 2px solid black;
}

.news__btn:hover {
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .news__btn {
    height: 43px;
    width: 100%;
    font-size: 16px;
  }
}

.news__btn:hover {
  background-color: #fff;
  color: black;
}

.news__btn:before {
  height: 0;
  display: block;
  position: absolute;
  left: -3px;
  content: "";
  border-top: solid 21px #fff;
  border-right: solid 21px transparent;
  top: -3px;
  z-index: 2;
}

.news__btn:after {
  height: 0;
  display: block;
  position: absolute;
  left: -2px;
  content: "";
  border-top: solid 21px black;
  border-right: solid 21px transparent;
  top: -2px;
}

@media screen and (max-width: 767px) {
  .news__btn {
    width: 60%;
    margin-top: 110px;
  }
}

.news-box__img {
  width: 100%;
  object-fit: cover;
  height: 237px;
}

@media screen and (max-width: 767px) {
  .news-box__img {
    height: 137px;
  }
}

.news-box__title {
  margin-top: 30px;
}

.news-info {
  margin-top: 26px;
  display: flex;
  color: #8E8E8E;
}

.news-info__date {
  margin-right: 10px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.news-info__cat {
  display: block;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
}

.news-info__cat:before {
  content: '';
  bottom: -0.5px;
  width: 100%;
  position: absolute;
  border-bottom: 2px solid #8E8E8E;
}

.service {
  margin: 174px auto 0 auto;
  max-width: 1366px;
  width: 80%;
}

@media screen and (max-width: 767px) {
  .service {
    width: 90%;
    margin: 124px auto 0;
  }
}

.service__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .service__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.service__subtitle {
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .service__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.service-box {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-box--reverce {
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .service-box {
    margin-top: 53px;
  }
}

@media screen and (max-width: 1179px) {
  .service-box {
    flex-direction: column;
  }
}

.service-box__link {
  width: 70%;
  max-height: 510px;
  height: 50vw;
}

@media screen and (max-width: 1179px) {
  .service-box__link {
    width: 100%;
  }
}

.service-box__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.service-box__content {
  box-sizing: border-box;
  margin: 0 60px 0 0;
  width: calc(30% - 60px);
}

@media screen and (max-width: 1179px) {
  .service-box__content {
    margin: 20px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 1179px) {
  .service-box__content {
    width: 100%;
  }
}

.service-box__content--upper {
  margin: 0 0 0 60px;
}

@media screen and (max-width: 1179px) {
  .service-box__content--upper {
    margin: 20px 0 0 0;
  }
}

.service-box__txt {
  line-height: 2;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .service-box__txt {
    display: none;
  }
}

.service-box__btn {
  margin-top: 53px;
  transition: all 0.2s;
  display: block;
  z-index: 0;
  position: relative;
  text-align: center;
  letter-spacing: 2.2px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 56px;
  color: #fff;
  background-color: black;
  border: 2px solid black;
}

.service-box__btn:hover {
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .service-box__btn {
    height: 43px;
    width: 100%;
    font-size: 16px;
  }
}

.service-box__btn:hover {
  background-color: #fff;
  color: black;
}

.service-box__btn:before {
  height: 0;
  display: block;
  position: absolute;
  left: -3px;
  content: "";
  border-top: solid 21px #fff;
  border-right: solid 21px transparent;
  top: -3px;
  z-index: 2;
}

.service-box__btn:after {
  height: 0;
  display: block;
  position: absolute;
  left: -2px;
  content: "";
  border-top: solid 21px black;
  border-right: solid 21px transparent;
  top: -2px;
}

@media screen and (max-width: 1179px) {
  .service-box__btn {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .service-box__btn {
    display: none;
  }
}

.service-box__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-weight: 900;
  line-height: 2;
  letter-spacing: 2.3px;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .service-box__title {
    font-size: 19px;
    letter-spacing: 1.9px;
  }
}

.service-box__subtitle {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .service-box__subtitle {
    font-size: 13px;
  }
}

.faq {
  margin-top: 174px;
}

@media screen and (max-width: 767px) {
  .faq {
    margin-top: 124px;
  }
}

.faq__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .faq__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.faq__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .faq__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.faq__btn {
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s;
  display: block;
  z-index: 0;
  position: relative;
  text-align: center;
  letter-spacing: 2.2px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 56px;
  color: black;
  background: linear-gradient(135deg, transparent 14.7px, #ffffff 0) top left;
  z-index: 1;
}

.faq__btn:hover {
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .faq__btn {
    height: 43px;
    width: 100%;
    font-size: 16px;
  }
}

.faq__btn:hover {
  color: white;
  background: linear-gradient(135deg, transparent 14.7px, #000000 0) top left;
}

.faq__btn:before {
  display: none;
}

.faq__btn:after {
  display: none;
}

@media screen and (max-width: 767px) {
  .faq__btn {
    width: 80%;
  }
}

.faq__back {
  background-image: url("../img/faq-back.png");
  background-size: cover;
  padding: 56px 0;
  margin-top: 50px;
}

.faq-box {
  max-width: 1366px;
  margin: 50px auto 0;
  width: 80%;
  background-size: cover;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .faq-box {
    padding: 40px 0;
    margin: 40px auto 0;
  }
}

.faq-content {
  color: #fff;
  width: 45%;
}

@media screen and (max-width: 767px) {
  .faq-content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .faq-content:nth-child(2) {
    margin-top: 40px;
  }
}

.faq-content:nth-child(3) {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .faq-content:nth-child(3) {
    margin-top: 40px;
  }
}

.faq-content:nth-child(4) {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .faq-content:nth-child(4) {
    margin-top: 40px;
  }
}

.faq-content__question {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
}

.faq-content__answer {
  line-height: 2;
  margin-top: 29px;
}

@media screen and (max-width: 767px) {
  .faq-content__answer {
    margin-top: 20px;
  }
}

.access {
  margin-top: 174px;
}

@media screen and (max-width: 767px) {
  .access {
    margin-top: 124px;
  }
}

.access__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .access__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.access__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .access__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

@media screen and (max-width: 767px) {
  .access__subtitle {
    margin-bottom: 40px;
  }
}

.access iframe {
  position: relative;
  left: 50%;
  height: 500px;
  max-width: 747px;
  transform: translateX(-50%);
  width: 50%;
}

@media screen and (max-width: 767px) {
  .access iframe {
    width: 100%;
  }
}

.access-table {
  width: 40%;
  max-width: 574px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .access-table {
    width: 80%;
  }
}

.access-table__row {
  display: flex;
  flex-direction: column;
}

.access-table__row:nth-child(1) {
  margin-top: 94px;
}

@media screen and (max-width: 767px) {
  .access-table__row:nth-child(1) {
    margin-top: 26px;
  }
}

.access-table__row:nth-child(2) {
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .access-table__row:nth-child(2) {
    margin-top: 25px;
  }
}

.access-table__row:nth-child(3) {
  margin-top: 68px;
}

@media screen and (max-width: 767px) {
  .access-table__row:nth-child(3) {
    margin-top: 50px;
  }
}

.access-table__row:nth-child(4) {
  margin-top: 47px;
}

@media screen and (max-width: 767px) {
  .access-table__row:nth-child(4) {
    margin-top: 19px;
  }
}

.access-table__head {
  font-weight: 100;
  line-height: 2;
}

.access-table__head--bold {
  font-size: 20px;
  font-weight: 900;
}

.access-table__data {
  letter-spacing: 1.6px;
  line-height: 1.5;
}

.access-table__data:nth-of-type(1) {
  margin-top: 10px;
}

.access-table__data:nth-of-type(2) {
  margin-top: 10px;
}

.about-mv {
  margin: 174px auto 0 auto;
  max-width: 1366px;
  width: 80%;
}

.about-mv__title {
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .about-mv__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.about-mv__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .about-mv__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.about-mv__img {
  height: 662px;
  display: block;
  width: 100%;
  object-fit: cover;
  margin-top: 53px;
}

.about-mv-content {
  max-width: 943px;
  margin: 85px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .about-mv-content {
    flex-direction: column;
  }
}

.about-mv-content__title {
  font-size: 34px;
  letter-spacing: 1.7px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .about-mv-content__title {
    letter-spacing: 1.5px;
    width: 100%;
    font-size: 20px;
  }
}

.about-mv-content__subtitle {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

.about-mv-content__text {
  margin: 0 0 0 70px;
  width: 60%;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .about-mv-content__text {
    width: 100%;
    margin: 20px  0 0 0;
  }
}

.about-concept {
  max-width: 1336px;
  margin: 95px auto 0;
}

.about-concept__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .about-concept__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.about-concept__subtitle {
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .about-concept__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.about-concept__caption {
  max-width: 1366px;
  width: 80%;
  margin: 58px auto 0 auto;
  font-family: ten-mincho, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 1.5;
  letter-spacing: 1,7px;
}

@media screen and (max-width: 767px) {
  .about-concept__caption {
    letter-spacing: 1px;
    font-size: 20px;
  }
}

.about-concept__subcaption {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 80%;
  max-width: 1366px;
  margin: 58px auto 0 auto;
  margin-top: 11px;
  font-size: 12px;
}

.about-concept-box {
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.about-concept-box__text {
  margin: 0 auto;
  line-height: 2;
  left: 0;
  width: 60%;
  max-width: 885px;
  position: relative;
  left: -10%;
  padding: 20px 0;
}

@media screen and (max-width: 767px) {
  .about-concept-box__text {
    width: 80%;
    left: 0;
  }
}

.about-concept-box__text span {
  display: block;
  margin: 23px;
}

.about-concept-box__img {
  top: 50%;
  max-width: calc(1336px / 2);
  transform: translateY(-50%);
  z-index: -1;
  position: absolute;
  left: 50%;
  object-fit: cover;
  height: 100%;
  width: 50%;
}

.about-member {
  margin-top: 163px;
}

.about-member__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .about-member__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.about-member__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .about-member__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.about-member__box {
  margin-top: 55px;
}

.about-member__box:nth-of-type(2) {
  margin-top: 100px;
}

.about-member__img {
  object-fit: cover;
  height: 508px;
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
  display: block;
  z-index: -1;
  position: relative;
}

.about-member__content {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box;
  padding: 56px;
  position: relative;
  margin: 0 auto;
  width: 60%;
  max-width: 698px;
  transform: translateY(-30px);
}

@media screen and (max-width: 767px) {
  .about-member__content {
    padding: 28px;
  }
}

.about-member__name {
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: bold;
}

.about-member__subname {
  margin-top: 10px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.about-member__text {
  margin-top: 36px;
  line-height: 2;
}

.news-galary {
  margin: 163px auto 0 auto;
  max-width: 1366px;
  width: 80%;
}

.news-galary__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .news-galary__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.news-galary__subtitle {
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .news-galary__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.news-galary-container {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-galary-box {
  display: block;
}

@media screen and (min-width: 1180px) {
  .news-galary-box {
    width: calc(33.333% - 40px);
    margin-right: 60px;
  }
  .news-galary-box:nth-of-type(3n) {
    margin: 0;
  }
  .news-galary-box:nth-of-type(n + 4) {
    margin-top: 160px;
  }
}

@media screen and (max-width: 1179px) {
  .news-galary-box {
    width: calc(50% - 30px);
    margin-right: 60px;
  }
  .news-galary-box:nth-of-type(2n) {
    margin: 0;
  }
  .news-galary-box:nth-of-type(n + 3) {
    margin-top: 160px;
  }
}

@media screen and (max-width: 767px) {
  .news-galary-box {
    width: 100%;
    margin: 0;
  }
  .news-galary-box:nth-of-type(n + 2) {
    margin-top: 160px;
  }
}

.news-galary-box__img {
  width: 100%;
  height: 237px;
  object-fit: cover;
}

.news-galary-box__title {
  margin-top: 30px;
}

.news-galary-info {
  margin-top: 26px;
  display: flex;
  color: #8E8E8E;
}

.news-galary-info__date {
  margin-right: 10px;
}

.news-galary-info__cat {
  display: block;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
}

.news-galary-info__cat:before {
  content: '';
  bottom: -0.5px;
  width: 100%;
  position: absolute;
  border-bottom: 2px solid #8E8E8E;
}

.single-news {
  margin: 163px auto 0;
}

.single-news__title {
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .single-news__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .single-news__title {
    font-size: 31px;
  }
}

.single-news__cat {
  letter-spacing: 1.6px;
  position: relative;
  color: #8E8E8E;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.single-news__cat:before {
  content: '';
  bottom: -0.5px;
  width: 100%;
  position: absolute;
  border-bottom: 2px solid #8E8E8E;
}

.single-news__img {
  width: calc(100% - 200px);
  object-fit: cover;
  display: block;
  margin: 55px auto 0;
  height: 470px;
}

@media screen and (max-width: 767px) {
  .single-news__img {
    width: 80%;
  }
}

.single-news__subtitle {
  width: calc(80% *0.65);
  max-width: 1180px;
  margin: 48px auto 0;
  font-size: 20px;
  font-weight: bold;
}

.single-news__content {
  width: calc(80% *0.65);
  max-width: 1180px;
  line-height: 4;
  margin: 48px auto 0;
}

.ceminer-mv {
  margin-top: 163px;
}

.ceminer-mv__title {
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .ceminer-mv__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.ceminer-mv__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .ceminer-mv__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.ceminer-mv__img {
  width: 80%;
  display: block;
  object-fit: cover;
  max-width: 1180px;
  max-height: 785px;
  margin: 53px auto 0;
}

.ceminer-mv__caption {
  margin: 72px auto 0;
  width: 60%;
  max-width: 686px;
  max-height: 298px;
  line-height: 2;
}

.ceminer-about {
  margin-top: 134px;
}

.ceminer-about__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .ceminer-about__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.ceminer-about__subtitle {
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .ceminer-about__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.ceminer-about-container {
  width: 80%;
  max-width: 1180px;
  margin: 120px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ceminer-about-box {
  display: block;
}

@media screen and (min-width: 1180px) {
  .ceminer-about-box {
    width: calc(33.333% - 40px);
    margin-right: 60px;
  }
  .ceminer-about-box:nth-of-type(3n) {
    margin: 0;
  }
  .ceminer-about-box:nth-of-type(n + 4) {
    margin-top: 160px;
  }
}

@media screen and (max-width: 1179px) {
  .ceminer-about-box {
    width: calc(50% - 30px);
    margin-right: 60px;
  }
  .ceminer-about-box:nth-of-type(2n) {
    margin: 0;
  }
  .ceminer-about-box:nth-of-type(n + 3) {
    margin-top: 160px;
  }
}

@media screen and (max-width: 767px) {
  .ceminer-about-box {
    width: 100%;
    margin: 0;
  }
  .ceminer-about-box:nth-of-type(n + 2) {
    margin-top: 100px;
  }
}

.ceminer-about-box__img {
  width: 100%;
  height: 237px;
  object-fit: cover;
}

.ceminer-about-box__title {
  margin-top: 30px;
}

.ceminer-about-info {
  margin-top: 26px;
  display: flex;
  color: #8E8E8E;
}

.ceminer-about-info__date {
  margin-right: 10px;
}

.ceminer-about-info__cat {
  line-height: 1.5;
  border-bottom: 1px solid #8E8E8E;
}

.ceminer-member {
  margin-top: 163px;
}

.ceminer-member__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .ceminer-member__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.ceminer-member__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .ceminer-member__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.ceminer-member__box {
  margin-top: 55px;
}

.ceminer-member__box:nth-of-type(2) {
  margin-top: 100px;
}

.ceminer-member__img {
  object-fit: cover;
  width: 80%;
  max-width: 960px;
  display: block;
  z-index: -1;
  margin: 0 auto;
  position: relative;
}

.ceminer-member__content {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box;
  padding: 56px;
  position: relative;
  width: 60%;
  margin: 0 auto;
  max-width: 698px;
  transform: translateY(-30px);
}

@media screen and (max-width: 767px) {
  .ceminer-member__content {
    padding: 28px;
  }
}

.ceminer-member__name {
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: bold;
}

.ceminer-member__subname {
  margin-top: 10px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ceminer-member__text {
  margin-top: 36px;
  line-height: 2;
}

.coworking {
  margin-top: 163px;
}

.coworking__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .coworking__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.coworking__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .coworking__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.coworking__caption {
  margin: 50px auto 0;
  width: 60%;
  max-width: 686px;
  line-height: 2;
}

.coworking-box {
  max-width: 1366px;
  width: 80%;
  margin: 0 auto;
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1179px) {
  .coworking-box {
    flex-direction: column;
  }
}

.coworking-box--reverce {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1179px) {
  .coworking-box--reverce {
    flex-direction: column;
  }
}

.coworking-box:nth-of-type(1) {
  margin-top: 122px;
}

.coworking-box__content {
  width: 35%;
}

@media screen and (max-width: 1179px) {
  .coworking-box__content {
    width: 100%;
  }
}

.coworking-box__title {
  font-size: 26px;
  letter-spacing: 2.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .coworking-box__title {
    font-size: 20px;
    letter-spacing: 1.5px;
  }
}

.coworking-box__text {
  margin-top: 24px;
  line-height: 2;
}

.coworking-box__detail {
  line-height: 2;
  margin-top: 44px;
  color: #8E8E8E;
  font-size: 13px;
}

.coworking-box__img {
  width: 60%;
  max-height: 487px;
  object-fit: cover;
}

@media screen and (max-width: 1179px) {
  .coworking-box__img {
    margin-top: 50px;
    width: 100%;
  }
}

.member {
  width: 80%;
  margin: 163px auto 0 auto;
}

.member__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .member__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.member__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
  margin-bottom: 130px;
}

@media screen and (max-width: 767px) {
  .member__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.member-box {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.member-about {
  text-align: center;
  margin-top: 52px;
  width: 20%;
}

@media screen and (max-width: 1179px) {
  .member-about {
    width: 33.333%;
  }
}

@media screen and (max-width: 767px) {
  .member-about {
    width: 100%;
  }
}

.member-about__img {
  width: 178px;
  height: 178px;
  object-fit: cover;
  border-radius: 50%;
}

.member-about__name {
  font-weight: bold;
  line-height: 2;
}

.member-about__caption {
  color: #8E8E8E;
  letter-spacing: 1.4px;
}

.single-member {
  margin-top: 163px;
}

.single-member__title {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 4.1px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .single-member__title {
    letter-spacing: 2.6px;
    font-size: 26px;
  }
}

.single-member__subtitle {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .single-member__subtitle {
    letter-spacing: 1.1px;
    font-size: 11px;
  }
}

.single-member__box {
  margin-top: 55px;
}

.single-member__img {
  object-fit: cover;
  max-height: 508px;
  width: 80%;
  max-width: 960px;
  display: block;
  z-index: -1;
  margin: 0 auto;
  position: relative;
}

.single-member__content {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box;
  padding: 56px;
  position: relative;
  max-width: 698px;
  width: 60%;
  margin: 0 auto;
  transform: translateY(-30px);
}

@media screen and (max-width: 767px) {
  .single-member__content {
    padding: 28px;
  }
}

.single-member__name {
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: bold;
}

.single-member__subname {
  margin-top: 24px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 2;
}

.single-member__text {
  margin-top: 36px;
  line-height: 2;
}

.single-member__detail {
  width: 60%;
  max-width: 698px;
  margin: 120px auto 0;
  line-height: 3;
}

.swiper-container {
  margin-top: 50px;
}
/*# sourceMappingURL=style.css.map */