.about {
    @include container;
    @include mq(tab){
        width: 100%;
    }
    //案メーションの関係で10vhプラスしなければいけない
    margin-top: calc(10vh + 80px);
    @include mq(sp){
        margin-top: calc(10vh + 70px);
    }
    &__title {
        text-align: center;
        @include section-title;
    }
    &__subtitle {
        text-align: center;
        font-weight: 100;
        @include section-subtitle;
    }
}
.about-box {
    margin-top: 50px;
    @include mq(sp){
        margin-top: 40px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(tab) {
        flex-direction: column;
    }
    &__img {
        object-fit: cover;
        width: 65%;
        max-height: 510px;
        @include mq(tab) {
            width: 100%;
        }
    }
    &__content {
        margin-left: 60px;
        width: 35%;
        @include mq(tab){
            margin: 50px 0 0 0 ;
            width: 80%;
        }
        @include mq(sp){
            margin: 21px 0 0 0;
        }
    }
    &__txt {
        line-height: 2;
    }
    &__btn {
        margin: 50px auto 0 auto;
        @include view-btn(blak);
        @include mq(tab){
            width: 60%;
        }
        @include mq(sp){
            margin: 40px auto 0 auto;
        }
    }
    &__title {
        font-weight: 900;
        line-height: 2;
        font-size: 24px;
    }
    &__subtitle {
        margin-bottom: 20px;
        font-size: 20px;
    }
}
