.access{
  margin-top: 174px;
  @include mq(sp){
    margin-top: 124px;
  }
  &__title{
    @include section-title;
    text-align: center;
  }
  &__subtitle{
    text-align: center;
    @include section-subtitle;
    margin-bottom: 50px;
    @include mq(sp){
      margin-bottom: 40px;
    }
  }
iframe{
position: relative;
left: 50%;
height: 500px;
max-width: 747px;
transform: translateX(-50%);
width: 50%;
@include mq(sp){
  width: 100%;
}
}
}
.access-table{
  width: 40%;
  max-width: 574px;
  @include mq(sp){
    width: 80%;
  }
  margin: 0 auto;
  &__row{
    display: flex;
    flex-direction: column;
    &:nth-child(1){
      margin-top: 94px;
      @include mq(sp){
        margin-top: 26px;
      }
    }
    &:nth-child(2){
      margin-top: 64px;
      @include mq(sp){
        margin-top: 25px;
      }
    }
    &:nth-child(3){
      margin-top: 68px;
      @include mq(sp){
        margin-top: 50px;
      }
    }
    &:nth-child(4){
      margin-top:47px;
      @include mq(sp){
        margin-top: 19px;
      }
    }
  }
  &__head{
    font-weight: 100;
    line-height: 2;
    &--bold{
      font-size: 20px;
      font-weight: 900;
      @include mq(sp){
        font-size: 13px;

      }
    }
  }
  &__data{
    letter-spacing: 1.6px;
    line-height: 1.5;
    &:nth-of-type(1){
      margin-top: 10px;
    }
    &:nth-of-type(2){
      margin-top: 10px;
    }
  }
}