.faq{
  @include section-space;
  &__title{
    @include section-title;
    text-align: center;
  }
  &__subtitle{
    text-align: center;
    @include section-subtitle;
  }
  &__btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    display: block;
    img{
      transition:.5s;
      width: 200px;
      &:hover{
        @include btn-scale;
      }
    }
  }
  &__back{
    background-image: url(../img/faq-back.png) ;
    background-size: cover;
  }
}
.faq-box{
  width: 80%;
  margin: 50px auto 0 auto;
  background-size: cover;
  justify-content: space-between;
  padding: 56px 0;
  display: flex;
  flex-wrap: wrap;
}
.faq-content{
  color: #fff;
  width: 45%;
  @include mq(tab){
    width: 100%;
  }
  &:nth-child(2){
    @include mq(tab){
      margin-top: 20px;
    }
  }
  &:nth-child(3){
    margin-top: 30px;
  }
  &:nth-child(4){
    margin-top: 30px;
  }
  &__question{
    font-weight: 900;
    font-size: 20px;
  }
  &__answer{
    line-height: 2;
    margin-top: 10px;
  }
}