.mv {
    position: relative;
    //headerの高さ
    margin: 0 auto;
    width: calc(100% - 200px);
    top: 100px;
    height: 90vh;
    @include mq(sp) {
        height: 70vh;
    }
    overflow: hidden;
    &__back-img {
        animation: show 18s infinite, scale 9s infinite;
        /* 12秒のスライドショーを繰り返し */
        position: absolute;
        width: 100%;
        height: 90vh;
        @include mq(sp) {
            height: 70vh;
        }
        object-fit: cover;
        left: 0;
        top: 0;
        opacity: 0;
        &:nth-child(1) {
            animation-delay: 0s;
        }
        &:nth-child(2) {
            animation-delay: 6s;
        }
        &:nth-child(3) {
            animation-delay: 12s;
        }
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes scale {
    100% {
        transform: scale(1.2);
    }
}
.mv-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &__logo-img {
        max-width: 372px;
        width: 100%;
    }
    &__caption {
        font-family: gill-sans-nova, sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-top: 20px;
        color: white;
        letter-spacing: 4.16px;
        font-size:20px;
        @include mq(sp) {
            font-size: 16px;
        }
    }
}
