.news {
    margin: 174px auto 0;
    max-width: 1180px;
    width: 80%;
    &__title {
        text-align: center;
        @include section-title;
    }
    &__subtitle {
        text-align: center;
        @include section-subtitle;
    }
    &__btn {
        margin-top: 150px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        @include view-btn(blak);
        @include mq(sp) {
            width: 60%;
            margin-top:110px;
        }
    }
}
.news-box {
    &__img {
        width: 100%;
        object-fit: cover;
    }
    &__title {
        margin-top: 30px;
    }
}
.news-info {
    margin-top: 26px;
    display: flex;
    color: #8E8E8E;
    &__date {
        margin-right: 10px;
    }
    &__cat {
        border-bottom: 1px solid #8E8E8E;
    }
}
