.news {
    margin: 174px auto 0 auto;
    max-width: 1180px;
    width: 80%;
    &__title {
        text-align: center;
        @include section-title;
    }
    &__subtitle {
        text-align: center;
        @include section-subtitle;
    }
    &__btn {
        margin-top: 150px;
        display: block;
        width: 100%;
        text-align: center;
        img {
            width: 200px;
            transition: 0.5s;
            &:hover {
                @include btn-scale;
            }
        }
    }
}
.news-box {
    &__img {
        width: 100%;
        height: 237px;
        object-fit: cover;
    }
    &__title {
        margin-top: 30px;
    }
}
.news-info {
    margin-top: 26px;
    display: flex;
    color: #8E8E8E;
    &__date {
        margin-right: 10px;
    }
    &__cat {
        border-bottom: 1px solid #8E8E8E;
    }
}
