.service {
    margin: 174px auto 0 auto;
    max-width: 1180px;
    width: 80%;
    @include mq(sp){
        width: 90%;
        margin: 124px auto 0;
    }
    &__title {
        @include section-title;
        text-align: center;
    }
    &__subtitle {
        @include section-subtitle;
        text-align: center;
    }
    &-box {
        &--reverce {
            @include mq(pc) {
                flex-direction: row-reverse;
                //sectionのサブタイトルからの距離
            }
        }
        margin-top: 110px;
        @include mq(sp){
            margin-top: 53px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq(tab) {
            flex-direction: column;
        }
        &__img {
            object-fit: cover;
            width: 65%;
            max-height: 510px;
            height: 50vw;
            @include mq(tab) {
                width: 100%;
            }
        }
        &__content {
            box-sizing: border-box;
            margin: 0 60px 0 0;
            width: 35%;
            @include mq(tab) {
                margin: 20px 0 0 0;
                width: 100%;
            }
            &--upper {
                margin: 0 0 0 60px;
                @include mq(tab){
                    margin: 0 0 0 0;
                }
            }
        }
        &__txt {
            @include mq(tab){
                display:none;
            }
            line-height: 2;
            margin-top: 50px;
        }
        &__btn {
            margin-top: 53px;
        @include view-btn(blak);
        @include mq(sp){
            display:none;
        }
        }
        &__title {
            @include nova;
            font-weight: 900;
            line-height: 2;
            font-size: 24px;
            @include mq(sp){
                font-size: 19px;
            }
        }
        &__subtitle {
            font-size: 20px;
            @include mq(sp){
                font-size: 13px;
            }
        }
    }
}
