.single-member {
    margin-top: 163px;
    &__title {
        @include section-title;
        text-align: center;
    }
    &__subtitle {
        text-align: center;
        @include section-subtitle;
    }
    &__box {
        margin-top: 55px;
    }
    &__img {
        object-fit: cover;
        max-height: 508px;
        width: 80%;
        max-width: 960px;
        display: block;
        z-index: -1;
        margin: 0 auto;
        position: relative;
    }
    &__content {
        box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
        background-color: #fff;
        box-sizing: border-box;
        padding: 56px;
        position: relative;
        max-width:698px;
        width: 60%;
        margin: 0 auto;
        transform: translateY(-30px);
        @include mq(sp){
            padding: 28px;
        }
    }
    &__name {
        font-size: 14px;
        letter-spacing: 1.4px;
        font-weight: bold;
    }
    &__subname {
        margin-top: 24px;
        @include nova;
        line-height: 2;
    }
    &__text {
        margin-top: 36px;
        line-height: 2;
    }
    &__detail{
        width: 60%;
        max-width:698px;
        margin:120px auto 0;
        line-height: 3;
    }
}
