.single-news {
    margin: $title-top auto 0;
    &__title {
        text-align: center;
        @include section-title;
        @include mq(sp){
            font-size: 31px;
        }
    }
    &__cat {
        letter-spacing: 1.6px;
        position: relative;
        color: #8E8E8E;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        @include nova;
        &:before{
            content: '';
            bottom: -0.5px;
            width:100%;
            position: absolute;
            border-bottom:2px solid #8E8E8E;
        }
    }
    &__img {
        width: calc(100% - 200px);
        @include mq(sp){
            width: 80%;
        }
        object-fit: cover;
        display: block;
        margin: 55px auto 0;
        height: 470px;
    }
    &__subtitle {
        width: calc(80% *0.65);
        max-width: 1180px;
        margin: 48px auto 0;
        font-size: 20px;
        font-weight: bold;
    }
    &__content {
        width: calc(80% *0.65);
        max-width: 1180px;
        line-height: 4;
        margin: 48px auto 0;
    }
}
