.about-concept {
    margin-top: 95px;
    &__title {
        @include section-title;
        text-align: center;
    }
    &__subtitle {
        @include section-subtitle;
        text-align: center;
    }
    &__caption {
        max-width: 1180px;
        width: 80%;
        margin:58px auto 0 auto;
        font-family: ten-mincho, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 34px;
        line-height: 1.5;
    }
    &__subcaption {
        width: 80%;
        max-width: 1180px;
        margin:58px auto 0 auto;
        margin-top: 11px;
        font-size: 12px;
    }
}
.about-concept-box {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    &__text {
        margin: 0 auto;
        line-height: 2;
        left: 0;
        //80% : 1180px = 60 : X
        // X = 885px
        width: 60%;
        @include mq(tab){
            width: 80%;
            left: 0;
        }
        max-width: 885px;
        position: relative;
        left: -10%;
        span {
            display: block;
            margin: 18px;
        }
    }
    &__img {
        top: 50%;
        max-width: calc(1336px / 2);
        transform: translateY(-50%);
        z-index: -1;
        position: absolute;
        left: 50%;
        object-fit: cover;
        width: 50%;
        @include mq(tab){
            height: 100%;
        }
    }
}
