.about-mv {
    margin: 174px auto 0 auto;
    max-width: 1366px;
    width: 80%;
    &__title {
        text-align: center;
        @include section-title;
    }
    &__subtitle {
        text-align: center;
        @include section-subtitle;
    }
    &__img {
        height: 662px;
        display: block;
        width: 100%;
        object-fit: cover;
        margin-top: 53px;
    }
}
.about-mv-content {
    @include mq(sp){
        flex-direction: column;
    }
    max-width: 943px;
    margin: 85px auto 0 auto;
    display: flex;
    justify-content: space-between;
    &__title {
        font-size: 34px;
        letter-spacing: 1.7px;
        line-height: 1.5;
        @include mq(sp){
            letter-spacing: 1.5px;
            width: 100%;
            font-size: 20px
        }
    }
    &__subtitle {
        @include nova;
        font-size: 12px;
    }
    &__text {
        @include mq(sp){
            width: 100%;
            margin: 20px  0 0 0;
        }
        margin: 0 0 0 70px;
        width:60%;
        line-height: 2;
    }
}
