@mixin section-title {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 41px;
    font-weight: bold;
    letter-spacing: 4.1px;
    line-height: 1.5;
}
@mixin section-subtitle {
    font-size: 14px;
    letter-spacing: 1.6px;
    font-weight: bold;
}
