.amenity {
    width: 80%;
    @include mq(sp){
        width: 100%;
    margin: 124px auto 0 auto;
    }
    max-width: 1366px;
    margin: 174px auto 0 auto;
    &__title {
        @include section-title;
        text-align: center;
    }
    &__subtitle {
        @include section-subtitle;
        text-align: center;
    }
}
.amenity-frame{
    display: flex;
    justify-content: space-between;
    @include mq(sp){
        flex-direction: column;
    }
    &__text{
        @include mq(sp){
            width: 100%;
            margin: 0;
        }
        line-height: 2;
        width: calc(50% - 46px);
        margin-right: 46px;
        &:nth-child(2){
            margin: 0;
        }
    }
}
.amenity-box {
    box-sizing: border-box;
    padding: 50px;
    @include mq(sp) {
        padding: 10%;
        margin: 40px auto 0;
    }
    margin: 50px auto 0;
    background-color: $back-color;
}
.amenity-content {
    &:nth-of-type(2) {
        margin-top: 47px;
    }
    &__title {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        @include mq(sp){
            font-size: 16px;
        }
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
    }
    &__icon {
        text-align: center;
        width: 20%;
        margin: 20px 0;
        font-size: 32px;
        @include mq(sp) {
            width: 50%;
            font-size: 20px;
        }
    }
    &__des {
        margin-top: 10px;
        font-size: 16px;
        @include mq(sp){
            font-size: 11px;
        }
    }
}
