.contact {
    writing-mode: vertical-rl;
    right: 0;
    top: 0;
    position: fixed;
    width: 100px;
    margin-top: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    @include mq(sp) {
        display: none;
    }
    &__fav {
        margin: 5px 0;
        transform: rotate(90deg);
    }
    &__slush {
        transform: rotate(30deg);
        margin: 10px 0;
    }
}
