.contact {
    writing-mode: vertical-rl;
    right: 0;
    top: 0;
    position: fixed;
    width: 100px;
    @include mq(tab){
        width: 10%;
    }
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    @include mq(sp) {
        display: none;
    }
    &__fav {
        position: relative;
        right: 1.2px;
        font-size: 17px;
        margin: 7px 0;
        transform: rotate(90deg);
    }
    &__slush {
        position: relative;
        top: 2px;
        font-size: 13px;
        transform: rotate(30deg);
        margin: 10px 0 9px 0;
    }
}
