header{
    @include mq(sp){
        background-color: #fff;
        height: 68px;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
    }
}
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    top: 0;
    left: 0;
    width: 80%;
    height: 100px;
    margin: 0 0 0 100px;
    @media  screen and (max-width:1366px) {
        margin: 0 0 0 10%;
    }
    @include mq(sp){
        height: 68px;
    margin:0 0 0 5%;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 160px;
        width: 100%;

        a{
            position: relative;
            top: -3px;
            display: block;
        }
    }
    &__img {
        width: 100%;
        @include mq(sp) {
            top: 0;
            width: 80%;
        }
    }
    &__nav {
        margin: 0 auto;
        display: flex;
        align-items: center;
        @include mq(tab) {
            display: none;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin: 0 20px 0 19px;
        position: relative;
        &:before {
            top:50%;
            font-size: 13px;
            content: '|';
            transform: rotate(25deg) translateY(-50%);
            position: absolute;
            right: -20px;
        }
        &:nth-of-type(6){
            &:before{
                display: none;
            }
        }
    }
}
