.btn{
  margin: 120px auto 0 auto;
  display: flex;
  justify-content: space-between;
  @include nova;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 3.1px;
  width: 60%;
  max-width: calc(1180px *0.8);
}