.price {
    width: 65%;
    max-width:747px;
    margin:174px auto 0 auto;
    @include mq(sp){
        width: 80%;
    margin:124px auto 0 auto;
    }
    &__title {
        text-align: center;
        @include section-title;
    }
    &__subtitle {
        text-align: center;
        @include section-subtitle;
    }
}
.price-box {
    margin: 50px 0 0;
    @include mq(sp){
        margin: 30px  0 0 0;
    }
    &__title {
        @include nova;
        font-weight: 900;
        font-size: 24px;
        line-height: 2;
        @include mq(sp){
            font-size: 20px;
        }
    }
    &__subtitle {
        font-size: 20px;
        @include mq(sp){
            font-size: 13px;
        }
    }
}
.price-content {
    margin-top: 50px;
    @include mq(sp){
        margin-top: 40px;
    }
    line-height: 2;
}
.price-box2 {
    @include mq(sp){
        margin-top: 40px;
    }
    margin: 72px 0 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    @include mq(sp) {
        flex-direction: column;
        align-items: flex-start;
    }
    &__btn {
        @include view-btn(blak);
        @include mq(sp){
            margin-top: 50px;
            width: 100%;
        }
    }
    &__price {
        @include nova;
        font-size: 41px;
        font-weight: 900;
        span {
            font-size: 16px;
            position: relative;
            left: -5px;
        }
    }
}
