.sub-title {
    writing-mode: vertical-rl;
    top: 0;
    left: 0;
    position: fixed;
    width: 100px;
    @include mq(sp){
        width: 10%;
    }
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-size: 16px;
    font-family: gill-sans-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    transform: rotate(180deg);
    @include mq(sp) {
        font-size: 20px;
    }
    @include mq(sp) {
        display: none;
    }
}
