.coworking {
    margin-top: $title-top;
    &__title {
        @include section-title;
        text-align: center;
    }
    &__subtitle {
        text-align: center;
        @include section-subtitle;
    }
    &__caption {
        margin: 50px auto 0;
        width: 60%;
        max-width:686px;
        line-height: 2;
    }
}
.coworking-box {
    @include mq(tab){
        flex-direction: column;
    }
    @include container;
    &--reverce {
        @include mq(tab){
            flex-direction: column;
        }
        flex-direction: row-reverse;
    }
    margin-top: 75px;
    &:nth-of-type(1) {
        margin-top: 122px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__content {
        width: 35%;
        @include mq(tab){
            width: 100%;
        }
    }
    &__title {
        font-size: 26px;
        letter-spacing: 2.6px;
        font-weight: bold;
        @include mq(sp){
            font-size: 20px;
            letter-spacing: 1.5px;
        }
    }
    &__text {
        margin-top: 24px;
        line-height: 2;
    }
    &__detail {
        line-height: 2;
        margin-top: 44px;
        color: #8E8E8E;
        font-size: 13px;
    }
    &__img {
        width: 60%;
        max-height: 487px;
        object-fit: cover;
        @include mq(tab){
            margin-top: 50px;
            width: 100%;
        }
    }
}
